#patient-creation-content {
  display: flex;
  flex-direction: row;
}

.left-pane {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.right-pane {
  display: flex;
  flex-direction: column;
  width: 45%;
}
