.login-containerx {
  background-color: var(--primary-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  color: var(--primary-color);
}

.login-box-container {
  background-color: var(--primary-white);
  width: 400px;
  height: 600px;
  margin: auto;
  box-shadow: var(--primary-transparent-color) 0px 10px 15px 2px, var(--primary-transparent-color) 0px 0px 6px -2px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
}

.login-titlex {
  font-size: 2rem;
  margin: 0.5rem;
}

.login-subtitlex {
  font-weight: 100;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.login-formx {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.login-labelx {
  align-self: flex-start;
  margin: 1.5rem 0 0 0;
  font-size: 0.8rem;
}

.login-inputx {
  width: 100%;
  height: 2.5rem;
  background-color: var(--secondary-white);
  border-radius: 6px;
  border: 0px solid;
  font-size: 1rem;
  padding: 0rem 1rem;
  color: var(--primary-color);
}

.login-inputx:hover {
  background-color: var(--secondary-background);
}

.login-inputx:focus {
  outline: none;
}

.login-buttonx {
  background-color: var(--primary-color);
  color: var(--secondary-white);
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 50px;
  width: 100%;
  margin: 3rem;
  transition-duration: 300ms;
  border-width: 0px;
}

.login-buttonx:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  transition-duration: 300ms;
}

.login-link-button {
  border: none;
  background: none;
  font-size: 1rem;
}

.login-link-button:hover {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}