.screen-container {
    height: 100vh;
}

.screen-content-container {
    padding: 3rem;
    width: auto;
    height: 90vh;
}

.screen-content {
    background-color: var(--primary-white);
    width: 100%;
    border-radius: 8px;
    box-shadow: var(--primary-transparent-color) 0px 3px 3px 0px;
    padding: 1.5rem;
}

.appointments-out-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1%;
}