.screen-container {
    height: 100vh;
}

.screen-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    padding: 3rem;
    background-color: var(--primary-white);
}

.screen-header-icon-container {
    border-radius: 8px;
    width: 4rem;
    height: 4rem;
    background-color: var(--primary-white);
    box-shadow: var(--primary-transparent-color) 0px 3px 3px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-header-title {
    font-weight: bold;
}

.screen-header-descriptions {
    margin-left: 1.5rem;
}

.screen-content-container {
    padding: 3rem;
    width: auto;
    height: 90vh;
}

.screen-content {
    background-color: var(--primary-white);
    width: 100%;
    border-radius: 8px;
    box-shadow: var(--primary-transparent-color) 0px 3px 3px 0px;
    padding: 1.5rem;
}

.appointments-out-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1%;
}