# Unica vez
# npx create-react-app frontend
# npm start

# Login example for import
"@emotion/react": "latest"

# API conections
npm install axios --save

# Styles
npm install @mui/material @emotion/react @emotion/styled
npm install @mui/icons-material
npm install @mui/x-data-grid
npm install @mui/styles




npm install package.json --save-dev
