# Unica vez
# npx create-react-app frontend
# yarn start

# Login example for import
"@emotion/react": "latest"

# API conections
yarn install axios --save

# Styles
yarn install @mui/material @emotion/react @emotion/styled
yarn install @mui/icons-material
yarn install @mui/x-data-grid
yarn install @mui/styles




yarn install package.json --save-dev
