# Basicos
pip install flask
pipenv install flask-restful #da herramientas rapidas para construir la api

# Base de datos Mongo
python -m pip install pymongo
python -m pip install mongoengine

# Testeo y check code
python -m pip install pytest
pip install dnspython
pip install pyflakes

