.add-button {
    margin: 1rem 0rem;
    border: none;
    background-color: var(--secondary-color);
    height: 2.5rem;
    width: 8rem;
    border-radius: 8px;
    color: var(--primary-white);
    font-weight: bold;
    font-size: 1.1rem;
    transition-duration: 0.3s;
}

.add-button:hover {
    background-color: var(--primary-color);
    transition-duration: 0.3s;
}