.unauthorized-container {
    margin-top: 5rem;
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.unauthorized-title {
    color: var(--primary-letter);
}

.unauthorized-label {
    color: var(--secondary-letter);
    margin-bottom: 0.3rem;
}

.unauthorized-button {
    margin: 1rem;
    border: none;
    background-color: var(--secondary-color);
    height: 2.5rem;
    width: 8rem;
    border-radius: 8px;
    color: var(--primary-white);
    font-weight: bold;
    font-size: 1.1rem;
    transition-duration: 0.3s;
}

.unauthorized-button:hover {
    background-color: var(--primary-color);
    transition-duration: 0.3s;
}