.dashboard-container {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  color: var(--primary-letter);
}

.dashboard-vertical-logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.dashboard-vertical-bar {
  min-width: 9vh;
  width: 12vh;
  height: auto;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-vertical-button {
  height: 100px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  color: var(--primary-white);
  border: none;
  font-weight: 400;
  font-size: 15px;
}

.dashboard-vertical-button:hover,
.active-dashbutton {
  background-color: var(--secondary-color);
  width: 100%;
  cursor: pointer;
  border-left: 1px solid var(--secondary-white);
}

.dashboard-content-container {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-background);
}

.div-search {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.div-search input {
  width: 50px;
  height: 50px;
  background: var(--secondary-white);
  border: none;
  font-size: 11pt;
  float: left;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: var(--primary-letter);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-left: 50px;

  -webkit-transition: width 0.55s ease;
  -moz-transition: width 0.55s ease;
  -ms-transition: width 0.55s ease;
  -o-transition: width 0.55s ease;
  transition: width 0.55s ease;
}

.div-search input::-webkit-input-placeholder {
  color: var(--secondary-letter);
}

.div-search input:-moz-placeholder {
  /* Firefox 18- */
  color: var(--secondary-letter);
}

.div-search input::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--secondary-letter);
}

.div-search input:-ms-input-placeholder {
  color: var(--secondary-letter);
}

.div-search i {
  position: absolute;
  font-size: 20px;
  top: 30%;
  transform: translateX(-35px);
  z-index: 1;
  color: var(--secondary-letter);
}

.div-search input:focus,
.div-search input:active,
.div-search input:not(:placeholder-shown) {
  outline: none;
  width: 300px;
}

.div-search:hover input {
  width: 300px;
}

.div-search:hover i {
  color: var(--primary-letter);
}