.home-container {
    display: flex;
    flex-direction: row;
}

.left-pane {
    background-color: #F3F5F7;
    width: 15%;
    padding: 1rem;
    border-right: 1px solid #E8EBEF;
}

.right-pane {
    width: 85%;
}

.view-header {
    border-bottom: 1px solid #E8EBEF;
    padding-left: 2rem;
}

.view-subtitle {
    color: #283241;
    font-size: 1.2rem;
}

.view-title {
    color: #283241;
    font-size: 1.5rem;
}

.view-content {
    margin: 1rem 10rem 1rem 10rem;
}



